@model DAO.ViewModel.DoanKhachViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chi tiết đoàn khách</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/Content/DateFormat/date.format.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="~/Content/detail/assets/fonts/ionicons.min.css">
    
</head>
<body>
    <br />
    <div style="width:90%; margin:0 auto;">
        <h2 class="font-weight-bold text-primary">Thông tin đoàn Khách </h2>
        <br />
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Tên đoàn:</b>&nbsp;@Model.doanKhach.doan_name</td>
                    <td><b>Số lượng khách:</b>&nbsp;<span id="slk">@Model.khachHangs.Count()</span></td>
                </tr>
                <tr>
                    <td><b>Ngày đi:</b>&nbsp;@Model.doanKhach.doan_ngaydi</td>
                    <td ><b>Số lượng nhân viên:</b>&nbsp;<span id="slnv">@Model.nhanViens.Count()</span></td>
</tr>
                <tr>
                    <td><b>Ngày về:</b>&nbsp;@Model.doanKhach.doan_ngayve</td>
                    <td>the Bird</td>
                </tr>
                <tr>
                    <td><b>Chi tiết:</b>&nbsp;@Model.doanKhach.doan_chitietchuongtrinh</td>
                    <td><b>Tổng chi phí:</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#khachhang" class="nav-link active" role="tab" data-toggle="tab">Danh sách khách hàng</a>
                </li>
                <li class="nav-item">
                    <a href="#nhanvien" class="nav-link" role="tab" data-toggle="tab" id="loadnv">Danh sách nhân viên</a>
                </li>
                <li class="nav-item">
                    <a href="#chiphi" class="nav-link" role="tab" data-toggle="tab" id="loadnv">Chi phí</a>
                </li>
            </ul>

            <div class="tab-content active">
                <div role="tabpanel" class="tab-pane fade in active show" id="khachhang">
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="" method="post">
                                @Html.TextBoxFor(model => model.doanKhach.doan_id, new { type = "hidden", @class = "form-control", id = "iddoan" })
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-lg-5">
                                            <select id="s_kh" name="s_kh" class="form-control " data-placeholder="Chon  nhan vien" required="required">
                                                @foreach (var record in Model.khachHangChuaCoTrongDoan)
                                                {
                                                    <option value="@record.kh_id">@record.kh_id-@record.kh_ten</option>
                                                }
                                            </select>
                                            <small id="errortour" class="text-danger">
                                            </small>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="col text-center"><button class="btn btn-primary" id="btnthemkh" type="button">Thêm Khách hàng</button></div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>

                        <br />
                        <br />
                        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên Khách Hàng</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày Sinh</th>
                                    <th>Email</th>
                                    <th>CMNN</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
                <div role="tabpanel" class="tab-pane fade" id="nhanvien">
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-lg-5">
                                            <select id="single" name="tour" class="form-control " data-placeholder="Chon  nhan vien" required="required">
                                                @foreach (var record in Model.nhanVienChuaCoTrongDoan)
                                                {
                                                    <option value="@record.nv_id">@record.nv_ten-@record.nv_nhiemvu</option>
                                                }
                                            </select>
                                            <small id="errortour" class="text-danger">
                                            </small>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="col text-center"><button class="btn btn-primary" id="btnthemnv" type="button">Thêm Nhân Viên</button></div>
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <br />
                        <table id="demoGridnv" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên nhân viên</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngày Sinh</th>
                                    <th>Email</th>
                                    <th>Vai trò</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="chiphi">
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="form-row">                                  
                                        <div class="col-lg-3">
                                            <div class="col text-center"><button class="btn btn-primary" id="btnthemcp" data-toggle="modal" data-target="#exampleModalCenter" type="button">Thêm Chi Phí</button></div>
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLongTitle">Thêm chi phí</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                            {
                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <div class="col"><label class="col-form-label">Loại chi phí</label></div>
                                                                        <select id="c_chiphi" name="loaichiphi" class="form-control" data-placeholder="Chọn chi phí" required="required">
                                                                            @foreach (var record in Model.list_loaiCP)
                                                                            {
                                                                                <option value="@record.cp_id">@record.cp_ten</option>
                                                                            }
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <div class="col"><label class="col-form-label">Hóa Đơn:&nbsp;</label></div>
                                                                        <input type="text" id="sohd"  name="sohoadon" class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <div class="col"><label class="col-form-label">Ngày Hóa Đơn:&nbsp;</label></div>
                                                                        <input type="date"  id="ngayhd" name="hoadon"  class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <div class="col"><label class="col-form-label">Nội Dung:&nbsp;</label></div>
                                                                        <input type="text" id="noi_dung" name="noidung"   class="form-control" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="form-row">
                                                                        <div class="col"><label class="col-form-label">Số Tiền:&nbsp;</label></div>
                                                                        <input type="text" id="so_tien" name="sotien"   class="form-control" />
                                                                    </div>
                                                                </div>


                                                            }
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                                <button type="button" class="btn btn-primary" id="themcp">Thêm</button>
                                                            </div>
                                                        </div>
                                                                
                                                            </div>
                                                </div>
                                            </div>       
                                        </div>


                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <br />
                        <table id="demoGridcp" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Hóa Đơn</th>
                                    <th>Loại Chi Phí</th>
                                    <th>Tên Chi Phí</th>
                                    <th>Số tiền</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

    </div>
        </div>
    
    <script>
        //them nv vao doan
        $("#btnthemnv").click(function(){
            var idNv = {
                idNv: $("#single").val(),
                idDoan: $("#iddoan").val()
            };
            $.ajax({
                url: "/DoanKhach/themNhanVienVoDoanKhach",
                type: "POST",
                data: JSON.stringify(idNv),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.Success) {
                        var table = $('#demoGridnv').DataTable();
                        table.ajax.reload();
                        loadNvTypes();
                        var slnv = $("#slnv").text();
                        slnv = Number(slnv) + 1;
                        $("#slnv").text(slnv);
                    }
                    else {
                        err = 'error';
                        $("#error").text(err);
                        return false;
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
        });
        //them kh vao doan
        $("#btnthemkh").click(function () {
            var idKh = {
                idKh: $("#s_kh").val(),
                idDoan: $("#iddoan").val()
            };
            $.ajax({
                url: "/DoanKhach/themKhachHangVoDoanKhach",
                type: "POST",
                data: JSON.stringify(idKh),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.Success) {
                        var table = $('#demoGrid').DataTable();
                        table.ajax.reload();
                        loadKhTypes();
                        var slk = $("#slk").text();
                        slk = Number(slk) + 1;
                        $("#slk").text(slk);
                    }
                    else {
                        err = 'error';
                        $("#error").text(err);
                        return false;
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
        });
        //them chi phi
        $("#themcp").click(function () {
            themChiPhi();
        });

        // display date
        function formatStringDate(date) {

                            var dateObj = new Date(parseInt(date.substr(6)));
                            return dateObj.format("dd/mm/yyyy");
                        };

                        // display format current VND
        function formatCurrentVND(number) {

                            return number.toLocaleString('vi-VN', { currency: 'VND', style: 'currency' });
                        }
        $(document).ready(function () {
                            var params = new window.URLSearchParams(window.location.search);
                            var idTour = params.get('id');
                            var url = "/DoanKhach/loadDataTableDSKH?id=" + idTour;
                            var urlnv = "/DoanKhach/loadDataTableDSNV?id=" + idTour;
            // tạo bảng
            $("#demoGrid").DataTable({

                                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,


                "ajax": {
                                    "url": url,
                    "type": "POST",
                    "datatype": "json",
                },
                columnDefs: [
                    //{ className: 'text-right', targets: [0, 1, 2,3, 4] },
                    //{ className: 'text-center', targets: [0,1,2,3,4,5,6,7] }


                ],
                 "columns": [
                     { "data": "kh_id", "name": "kh_id", "autoWidth": true },
                     { "data": "kh_ten", "name": "kh_ten", "autoWidth": true },
                     { "data": "kh_sdt", "name": "kh_sdt", "autoWidth": true },
                     {
                                    "data": "kh_ngaysinh", "name": "kh_ngaysinh", "autoWidth": true,
                         "render": function (data) { return formatStringDate(data); }},
                     { "data": "kh_email", "name": "kh_email", "autoWidth": true },
                     { "data": "kh_cmnd", "name": "kh_cmnd", "autoWidth": true },
                     {
                                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" id="xoakh" value="'+full.kh_id+'" href="">xóa</a>';}
                                },
                 ]
            });

                            loadkh(idTour,urlnv);

        });
        //load data khach hang
        function loadkh(idTour,urlnv) {
            @*var params = new window.URLSearchParams(window.location.search);
            var idTour = pams.get('id');
            var url = "/DoanKhach/loadDataTableDSNV?id=" + idTour;*@
            // tạo bảng
            $("#demoGridnv").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,


                "ajax": {
                    "url": urlnv,
                    "type": "POST",
                    "datatype": "json",
                },
                columnDefs: [
                    //{ className: 'text-right', targets: [0, 1, 2,3, 4] },
                    //{ className: 'text-center', targets: [0,1,2,3,4,5,6,7] }


                ],
                "columns": [
                    { "data": "nv_id", "name": "nv_id", "autoWidth": true },
                    { "data": "nv_ten", "name": "nv_ten", "autoWidth": true },
                    { "data": "nv_sdt", "name": "nv_sdt", "autoWidth": true },
                    {
                        "data": "nv_ngaysinh", "name": "nv_ngaysinh", "autoWidth": true,
                        "render": function (data) { return formatStringDate(data); }
                    },
                    { "data": "nv_email", "name": "nv_email", "autoWidth": true },
                    { "data": "nv_nhiemvu", "name": "nv_nhiemvu", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="' + full.nv_id +'">xóa</a>'; }
                    }
                ]
            });
        }
        //load data chiphi
        function loadchiphi( urlcp) {
            $("#demoGridnv").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,


                "ajax": {
                    "url": urlcp,
                    "type": "POST",
                    "datatype": "json",
                },
                columnDefs: [
                    //{ className: 'text-right', targets: [0, 1, 2,3, 4] },
                    //{ className: 'text-center', targets: [0,1,2,3,4,5,6,7] }


                ],
                "columns": [
                    { "data": "nv_id", "name": "nv_id", "autoWidth": true },
                    { "data": "nv_ten", "name": "nv_ten", "autoWidth": true },
                    { "data": "nv_sdt", "name": "nv_sdt", "autoWidth": true },
                    {
                        "data": "nv_ngaysinh", "name": "nv_ngaysinh", "autoWidth": true,
                        "render": function (data) { return formatStringDate(data); }
                    },
                    { "data": "nv_email", "name": "nv_email", "autoWidth": true },
                    { "data": "nv_nhiemvu", "name": "nv_nhiemvu", "autoWidth": true },
                    {
                        "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="' + full.nv_id + '">xóa</a>'; }
                    }
                ]
            });
        }     
        //them chiphi
        function themChiPhi() {
            var data = {
                    idDoan: $("#iddoan").val(),
                    tencp: $("#c_chiphi option:selected").text(),
                    hoadon: $("#sohd").val(),
                    ngayhoadon: $("#ngayhd").val(),
                    noidung: $("#noi_dung").val(),
                    sotien: $("#so_tien").val()                
            };
            $.ajax({
                url: "/DoanKhach/themChiPhi",
                type: "POST",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    if (response.Success) {
                        console.log("");
                    }
                    else {
                        err = 'error';
                        $("#error").text(err);
                        return false;
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
            console.log("");
        }

        //xoa khach hang khoi doan
        $("#xoakh").click(function (idDoan,urlcp) {
            //var data =
        });

        function loadNvTypes() {
            $("#single option:selected").remove();
        }
        function loadKhTypes() {
            $("#s_kh option:selected").remove();
        }

    </script>
</body>

</html>  