@model DAO.Model.tour_gia

@{
    ViewBag.Title = "Delete";
}
<br />

<h2 class="font-weight-bold text-primary">Xóa giá tour</h2>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tour_gia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gia_sotien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_sotien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_tungay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_tungay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_denngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_denngay)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
