@model DAO.Model.tour_gia

@{
    ViewBag.Title = "Details";
}

<br />

<h2 class="font-weight-bold text-primary">Chi tiết giá</h2>

<div>
    <h4>tour_gia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gia_sotien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_sotien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tour_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tour_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_tungay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_tungay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gia_denngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gia_denngay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gia_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
